# OS
.DS_Store
Thumbs.db

# IDE
.vs/
.vscode/
.idea/
*.user
*.suo

# Unity (just in case)
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Git
*.orig
